/* Main Colors  A87AB6*/

$color-theame: #219e99;
$color-brand-primary: #219e99;
$color-brand-primary-dark: #1a6b68;
$color-brand-primary-light: #219e99;
$color-selection-primary-nav: #219e99;
$color-selected-nav-bg: #293846;
$color-selected-sub-nav-bg: #f4f6f9;
$color-selected-nav-border: #ffffff;
$color-theame-font: #219e99;
$color-theame-header-font: #293846;
$color-nav-bg: #293846;
$color-selected-nav-font: #ffffff;
$color-selected-nav-font-hover: #ffffff;

/* old Color this shuld be remove before commit*/

$body-bg: #c5cbe3;

$color-success: #28850a;
$color-danger: #f5232d;
$color-warning: #fed017;
$color-info: #1abc9c;

$color-link: #219e99;

/* Status */

$color-status-danger: #efd6d6;
$color-status-success: #d5e9ce;
$color-status-pending: #dedede;
$color-status-default: #f5f5f5;

/* Header */

$color-header-bg: #082043;

/* Navbar */

$navbar-height: 60px;

/* Footer */

$footer-height: 40px;

/* Typography */

$font-family-base: "SFS", Arial, sans-serif;

/* Font Sizes */

$font-size-global: 1rem;
$font-size-h1: 1.5rem;
$font-size-h2: 1.33rem;
$font-size-h3: 1.167rem;
$font-size-h4: 1.167rem;
$font-size-h5: 1rem;
$font-size-h6: 1rem;
$font-size-table-th: 1.1rem;
$font-size-nav: 1.2rem;
$font-size-p: 1rem;
$font-size-button: 1.2rem;
$font-size-input: 1.1rem;
$font-size-dropdown: 1.1rem;
$font-size-label: 1.1rem;

/* Forms */

$color-input-background: #f6f6f6;
$color-input-border: #ccc;
$color-input-text: #666;
$color-grid-head: rgb(7, 30, 68);
$color-grid-alt1: #fff;
$color-grid-alt2: #fff;
$color-grid-hover: #f8f8f8;
$color-grid-border: #ebebeb;
$color-hover-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
$color-focus-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
$color-input-error: $color-danger;
$input-radius: 4px;
$input-radius-left: 4px 0 0 4px;
$input-radius-right: 0 4px 4px 0;
$input-radius-top: 4px 4px 0 0;
$input-radius-bottom: 0 0 4px 4px;

/* Pagination */

$color-pager-bg: #fbfbfb;
$color-pager-border: #ebebeb;
$color-pager-link: #5a5a5a;
$color-pager-icon: #959595;
$color-pager-active-border: #000;
$color-pager-active-link: #000;

/* Dashboard modal*/
$color-dash-primary: #768e97;
$color-dash-success: #3dda59;
